/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #24273a;
    background-alt: #1e2030;
    foreground:     #6c7086;
    selected:       #8aadf4;
    active:         #a6da95;
    urgent:         #ed8796;
}
