/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #eff1f5;
    background-alt: #e6e9ef;
    foreground:     #9ca0b0;
    selected:       #1e66f5;
    active:         #40a02b;
    urgent:         #d20f39;
}
