--wave-color-material-dark: #363a4f;
--wave-color-material-light: #494d64;
--wave-color-opacity-base-bright-thick: fade(#1e2030, 60%);
--wave-color-opacity-base-bright-thin: fade(#1e2030, 20%);
--wave-color-opacity-base-bright-transparent: #1e2030;
--wave-color-opacity-base-bright-ultra-thick: fade(#1e2030, 80%);
--wave-color-opacity-base-brightest-regular: fade(#24273a, 40%);
--wave-color-opacity-base-brightest-thin: fade(#24273a, 20%);
--wave-color-opacity-base-brightest-ultra-thin: fade(#24273a, 10%);
--wave-color-opacity-base-brighter-ultra-thick: fade(#363a4f, 80%);
--wave-color-opacity-base-fill-regular:  fade(#181926, 40%);
--wave-color-opacity-base-fill-thick: fade(#181926, 60%);
--wave-color-opacity-base-fill-thin: #181926;
--wave-color-opacity-base-fill-transparent: #181926;
--wave-color-opacity-base-fill-ultra-thick: fade(#181926, 10%);
--wave-color-opacity-base-fill-ultra-thin: fade(#181926, 10%);
--wave-color-opacity-contrast-fill-regular: fade(#cad3f5, 40%);
--wave-color-opacity-contrast-fill-thin: fade(#cad3f5, 20%);
--wave-color-opacity-contrast-fill-ultra-thin: fade(#6e738d, 40%);
--wave-color-opacity-contrast-fill-transparent: #cad3f5;
--wave-color-opacity-contrast-fill-thick: #a5adcb;
--wave-color-opacity-contrast-fill-ultra-thick: #a5adcb;
--wave-color-opacity-rainbow-blue-thin: fade(#8aadf4, 8%);
--wave-color-solid-accent-fill: #7dc4e4;
--wave-color-solid-accent-bright: lighten(#7dc4e4, 7%);
--wave-color-solid-accent-brighter: lighten(#7dc4e4, 8%);
--wave-color-solid-accent-dark: darken(#7dc4e4, 5%);
--wave-color-solid-accent-darker: darken(#7dc4e4, 8%);
--wave-color-solid-accent-darkest: darken(#7dc4e4, 9%);
--wave-color-solid-base-fill: #24273a;
--wave-color-solid-contrast-fill: #cad3f5;
--wave-color-solid-base-bright: #363a4f;
--wave-color-solid-base-brighter: #363a4f;
--wave-color-solid-base-brightest: #494d64;
--wave-color-solid-base-brighter-ultra-thick: #494d64;
--wave-color-solid-contrast-dark: #cad3f5;
--wave-color-solid-contrast-darker: #a5adcb;
--wave-color-solid-contrast-darkest: #b8c0e0;
--wave-color-solid-rainbow-blue-fill: #8aadf4;
--wave-color-solid-rainbow-green-brighter: lighten(#a6da95, 8%);
--wave-color-solid-rainbow-green-dark: darken(#a6da95, 5%);
--wave-color-solid-rainbow-green-darker: darken(#a6da95, 8%);
--wave-color-solid-rainbow-green-darkest: darken(#a6da95, 9%);
--wave-color-solid-rainbow-green-fill: #a6da95;
--wave-color-solid-rainbow-orange-fill: #f5a97f;
--wave-color-solid-rainbow-purple-fill: #c6a0f6;
--wave-color-solid-rainbow-red-bright: lighten(#ed8796, 2%);
--wave-color-solid-rainbow-red-brighter: lighten(#ed8796, 3%);
--wave-color-solid-rainbow-red-dark: darken(#ed8796, 6%);
--wave-color-solid-rainbow-red-darker: darken(#ed8796, 8%);
--wave-color-solid-rainbow-red-darkest: darken(#ed8796, 9%);
--wave-color-solid-rainbow-red-fill: #ed8796;
--wave-color-solid-rainbow-yellow-bright: lighten(#eed49f, 3%);
--wave-color-solid-rainbow-yellow-brighter: lighten(#eed49f, 9%);
--wave-color-solid-rainbow-yellow-dark: darken(#eed49f, 6%);
--wave-color-solid-rainbow-yellow-darker: darken(#eed49f, 8%);
--wave-color-solid-rainbow-yellow-darkest: darken(#eed49f, 9%);
--wave-color-solid-rainbow-yellow-fill: #eed49f;
--wave-color-solid-special-bright: lighten(#f5a97f, 3%);
--wave-color-solid-special-brighter: lighten(#f5a97f, 9%);
--wave-color-solid-special-dark: darken(#f5a97f, 6%);
--wave-color-solid-special-darker: darken(#f5a97f, 8%);
--wave-color-solid-special-darkest: darken(#f5a97f, 9%);
--wave-color-solid-special-fill: #f5a97f;
--wave-color-solid-warning-bright: lighten(#ed8796, 3%);
--wave-color-solid-warning-brighter: lighten(#ed8796, 9%);
--wave-color-solid-warning-dark: darken(#ed8796, 6%);
--wave-color-solid-warning-darker: darken(#ed8796, 8%);
--wave-color-solid-warning-darkest: darken(#ed8796, 9%);
--wave-color-solid-warning-fill: #ed8796;

[data-wave-color="textDefault"],
[class^="css--"],
[class^="icon"],
[class*="smallHeader"] .artist-link a,
[class*="smallHeader"] .artist-link span {
    color: #cad3f5;
}

[class*="primary"] [data-wave-color="textDefault"],
[class*="activeTab"] [data-wave-color="textDefault"],
[class*="primary"] [class^="icon"],
[class*="activeTab"] [class^="icon"] {
    color: #24273a;
}

[class*="accentedIcon"],
[data-wave-color="textUrl"] {
    color: #7dc4e4;
}

[data-test="stream-metadata"] [class^="textContainer"] span {
    color: #1e2030 !important;
}

[data-wave-color="textSecondary"] {
    color: #a5adcb;
}

[class*="_wave-btn-rank-secondary"] {
    background-color: #494d64;
}

[class*="iconsWrapper"] [class*="icons"] {
    background-color: fade(#7dc4e4, 30%) !important;
}

[class*="_wave-btn-rank-primary"] {
    background-color: #cad3f5;
    color: #24273a !important;
}

[class*="_wave-btn-rank-primary"]:hover {
    background-color: #24273a;
    color: #cad3f5 !important;
}

[class*="_wave-badge-color-default"] {
    color: #cad3f5;
    background-color: fade(#cad3f5, 20%);
}

[class*="_wave-badge-color-high"] {
    color: #7dc4e4;
    background-color: fade(#7dc4e4, 20%);
}

[class*="_wave-badge-color-max"] {
    color: #eed49f;
    background-color: fade(#eed49f, 20%);
}

.ReactModal__Content [data-type="page"] {
    background-color: #363a4f;
}

.ReactModal__Overlay {
    background-color: fade(#6e738d, 50%) !important;
}

